/target/
/project/project/
/project/target/
/server/target/
/console
target
/log
genes.json
/resources/config/home.clj
/resources/config/ohsu-swift.clj
.DS_Store
.idea/
.lein-failures
.lein-repl-history
.nrepl-port
