[submodule "titan"]
	path = titan
	url = https://github.com/thinkaurelius/titan.git
[submodule "server/src/main/protobuf"]
	path = server/src/main/protobuf
	url = https://github.com/bmeg/bmeg-schemas.git
