body {
    margin:0px auto;
    padding:0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.0em;
    color:#555;
    font-weight: 300;
    background:#fff;
}

* {
    margin:0;
    padding:0;
}

a {
    color:#AD0056;
}

a:hover {
    color:#004F9E;
}

a:focus {
    outline:none;
}

h1 {
    font-size:2.4em;
    color: #000;
}

ul, ol {
    margin:0 0 35px 35px;
}

li {
    padding-bottom:5px;
}

.width {
    width:920px;
    margin: 0 auto;
}

header {
    background-color: #222;
    background: linear-gradient(#222, #333);
    border-bottom: 1px solid #E60073;
    height: 100px;
}

header h1 {
    letter-spacing: 2px;
    margin:0;
    font-size: 2.2em;
    padding:20px 0;
}
header h1 a,
header h1 a:hover {
    color:#fff;
    font-weight: 300;
    text-decoration:none;
}

section#body {
    padding:40px 0 20px;
    background:#fff;
}

section#content {
    width:650px;
}

.column-left {
    float:left;
}

.column-right {
    float:right;
}

aside#sidebar {
    width:268px;
    padding-top: 10px;
}

article {
    padding: 10px 10px 20px 5px;
}

article h2 {
    padding-bottom: 0;
    font-size: 2.1em;
}

article .article-info {
    color: #ccc;
    font-size: 0.7em;
    letter-spacing: 0px;
    padding: 0 0 10px 0;
    text-transform: uppercase;
}

article .article-info a { 
    color: #ccc;
}

#subtitle {
    color: #aaa;
    margin-top: -10px;
}

#subtitle a {
    color: #e55;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.small {
    font-size: 0.7em;
}

#gaia {
    width: 1600;
    height: 1000;
}
